body{
	margin:0;
	background-image: url(https://content.fortune.com/wp-content/uploads/2017/10/577017999.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
A:link { text-decoration: none; 
 color: #E7A1B0}
A:visited { text-decoration: line-through;
 color: #DB778D}
A:active { text-decoration: line-through; 
 color: #D6547C}
A:hover { 
 text-decoration: underline; 
 color: #FF71B5; 
 } 
*{
	margin:auto;
	padding:0;
	outline:none;
}
.error{
	border: 2px solid red;
}
#events{
	border-radius:10px;
	border-color:black;
	background-color:#E7A1B0;
	text-align:center;
	color:#D6778D;
}
.good{
	border:2px solid yellow;
	background-color: #E7A1B0;
}
#links{
	border: 1px solid black;
	margin: 30px 30px;
	background: #D6547C;
	margin-top:15px;
	margin-bottom:15px;
	padding:30px;
	padding-left: 60px;
}

#forma{
	width:85%;
	margin:auto;	
max-width:1000px;
	height:1000px;

		border-radius:5px;
	background-color:#D6547C;
	margin-top:20px;
	position:relative;
	padding:0;
	text-align:center;
}

